@charset "utf-8";
@import "./base/base.less";
@import "./base/conn.less";


/*新闻专题*/
.newSubject{
  width: 100%;
  padding-top: 1.2rem;
  height: 500px;
  .nLeft{
    float: left;
    margin-left: 0.5%;
    width:72%;
    .edit{
      float: right;
      margin-top: -0.3rem;
    }
    .edit a{
      display: block;
      width: 0.84rem;
      height: 0.3rem;
      line-height: 0.3rem;
      border-radius: 3px;
      background: white;
      text-align: center;
      font-size: 0.14rem;
      color: #000;
    }
    .labelBox{
      margin-top: .1rem;
      width: 100%;
      height: 1rem;
      background: rgba(255,255,255,0.2);
      border-radius: 3px;
      .lTextarea{
        display: inline-block;
        vertical-align: middle;
      }
      .lEdit{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .nRight{
    float: right;
    margin-right: 1%;
    width: 23%;
    height: 300px;
    background: blue;
  }
}