@charset "utf-8";
@import "./base/base.less";
@import "./base/conn.less";

.tYellow{
  color: #fc8c40;
}
.tGreenBlue{
  color: #2e9809;
}
.tGreen{
  color: #43b498;
}
.tLightYellow{
  color: #95c136;
}
.tRed{
  color: #e44527;
}
.tBlue{
  color: #5f96b7;
}
/*下拉重点报道按钮开始*/
.control{
  position: absolute;
  z-index: 1005;
  top: .95rem;
  right: .25rem;
  a{
    display: block;
    width: .21rem;
    height: .21rem;
    background: url("../images/index-up.png") no-repeat;
    background-size: 100% 100%;
    &.up{/*向上拉*/
      display: block;
      width: .21rem;
      height: .21rem;
      background: url("../images/index-down.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
/*下拉重点报道按钮结束*/
/*新闻专题*/
.newSubject{
  width: 100%;
  margin-top: 1.1rem;
  height: 7.7rem;
  .nLeft{
    position: relative;
    float: left;
    margin-left: 0.5%;
    width:72%;
    .edit{
      position: absolute;
      z-index: 1000;
      right: 0;
      top: -0.3rem;
      float: right;
    }
    .edit a{
      display: block;
      padding: .02rem .18rem;
      line-height: 0.3rem;
      border-radius: 3px;
      background: white;
      text-align: center;
      font-size: 0.14rem;
      color: #000;
      &:hover{
        color: @hoverColor;
      }
    }
    .labelBox{
      margin-top: .1rem;
      padding: .1rem;
      width: 100%;
      height: 0.9rem;
      background: rgba(255,255,255,0.2);
      border-radius: 3px;
      .lTextarea{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        textarea{
          width: 100%;
          height: 0.7rem;
          line-height: 0.28rem;
          padding: .1rem .15rem 0 .15rem;
          /*background: rgba(255,255,255,0.2);*/
          background: none;
          border: none;
          border-radius: 2px;
          font-size: .18rem;
          color: #ffffff;
        }
        textarea::-webkit-scrollbar {
          width: .04rem;
          border-left: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
          background-color: #eeeeee;
        }
        textarea::-webkit-scrollbar-thumb {
          width: .1rem;
          height: .5rem;
          background-color: #366ba8;
        }
      }
      .lEdit{
        margin-left: .2rem;
        margin-top: -.15rem;
        display: inline-block;
        vertical-align: middle;
        display: none;/*隐藏编辑框的*/
        a{
          font-size: .22em;
          color: #fff200;
          .bian{
            margin-right: .12rem;
            vertical-align: middle;
            display: inline-block;
            width: .3rem;
            height: .3rem;
            background: url("../images/index-sEdit.png") no-repeat;
            background: url("../images/index-sEdit.png") no-repeat;
            background-size: 100% 100%;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            margin-top: .05rem;
            font-size: .14rem;
          }
        }
      }
    }
    /*案例排版开始*/
    .caseBox{
      position: relative;
      width: 100%;
      margin-top: .04rem;
      height: 6.6rem;
      background-size: 90% 90%;
      overflow: hidden;
      width: 14.4rem;
      .caseWrap{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .listDiv{
        float: left;
        width: 3.6rem;/* 单个div的宽度 */
        .place{
          width: 100%;
          height: 2.05rem;
          margin-top: .12rem;
        }
        /*单个案例--标题+摘要*/
        .detailsDiv{
          position: relative;
          width: 92%;/* 里面小div的宽度 */
          margin-top: .12rem;
          height: 2.05rem;
          border-radius: 2px;
          background: rgba(255,255,255,0.2);
          padding: .1rem;
          cursor: pointer;
          &.dActive{
            border: 1px solid #fff200;
          }
          .div1In{
            width: 100%;
            height: 100%;
            background: rgba(23,89,147,0.3);
            .come{
              height: .28rem;
              font-size: 0.16rem;
              padding: .06rem .15rem 0 .15rem;
              .comeL{
                text-align: left;
                float: left;
                width: 80%;
                .txt();
                i{
                  display: inline-block;
                  margin-left: .08rem;
                  font-size: .16rem;
                  &.tYellow{
                    color: #fc8c40;
                  }
                  &.tGreenBlue{
                    color: #2e9809;
                  }
                  &.tGreen{
                    color: #43b498;
                  }
                  &.tLightYellow{
                    color: #95c136;
                  }
                  &.tRed{
                    color: #e44527;
                  }
                }
              }
              .comeR{
                width: 20%;
                float: right;
                text-align: right;
                i{
                  font-size: .16rem;
                  &.tBlue{
                    color: #5f96b7;
                  }
                }
              }
            }
            .wenzhang{
              padding: 0 0.25rem;
              .wenzhangIn{
                width: 100%;
              }
              .wP{
                width: 100%;
                padding: .06rem 0 .08rem 0;
                text-align: center;
                font-size: 0.18rem;
                color: #ffffff;
                border-bottom: 1px solid white;
                .txt();
              }
              .wP2{
                width: 100%;
                margin-top: 0.1rem;
                line-height: .23rem;
                font-size: 0.14rem;
                color: #ffffff;
                .txtmore(4);
              }
            }
          }
          .hoverDiv{
            display: none;
            position: absolute;
            left: 0;
            top: .42rem;
            width: 100%;
            height: 80%;
            background: rgba(0,0,0,0.5);
            .img{
              width: .64rem;
              height: .64rem;
              margin: 0 auto;
              margin-top: .45rem;
              background: url("../images/index-fangda.png") center center no-repeat;
              background-size: 100%;
            }
          }
          .editDiv{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(3,23,74,0.8);
            .aBox{
              margin-top: .6rem;
              /* padding-left: .6rem; */
              padding-left: .5rem;
              p{
                margin-top: .15rem;
                font-size: .14rem;
                color: #ffffff;
              }
            }
            .aEdit{
              margin-right: .6rem;
              display: inline-block;
              vertical-align: middle;
              &:hover p{
                color: @hoverColor;
              }
              img{
                display: block;
                width: .4rem;
                height: .4rem;
                margin:0 auto;
              }
            }
            .aDel{
              display: inline-block;
              vertical-align: middle;
              &:hover p{
                color: @hoverColor;
              }
              img{
                display: block;
                width: .46rem;
                height: .46rem;
                margin:0 auto;
              }
            }
          }
        }
        /*单个案例--图片描述*/
        .imgDiv .div1In{
          //height: 99% !important;
        }
        .imgDiv .wenzhang{
          padding: 0 0.05rem !important;
        }
        .imgDiv .wenzhang .wP{
          border-bottom: none !important;
          padding: .06rem 0 .02rem 0 !important;
        }
        .imgDiv .wenzhang .wP2{
          margin-top: 0.06rem !important;
          width: 2.95rem;
          height: 1.08rem;
          line-height: normal !important;
          img{
            width: 100%;
          }
        }
        /*微博排版*/
        .weiboDiv{
          padding: inherit;
          overflow: hidden;
          .come{
            margin: .1rem .1rem 0 .1rem;
          }
          .wMiao{
            margin-top: .08rem;
            padding: 0 .15rem;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            .tou{
              display: inline-block;
              vertical-align: top;
              width: .42rem;
              height: .42rem;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 100%;
              }
            }
            .xiang{
              /* width: 2.5rem; */
              width: 2.3rem;
              margin-left: .15rem;
              display: inline-block;
              vertical-align: top;
              color: #ffffff;
              .p1{
                font-size: .18rem;
                .txt();
              }
              .p2{
                font-size: .14rem;
                .txt();
              }
            }
            .wWen{
              width: 100%;
              //height: .7rem;
              //padding: .05rem 0 .08rem 0;
              line-height: .22rem;
              margin: .05rem 0 .08rem 0;
              text-indent: .12rem;
              font-size: .14rem;
              color: #ffffff;
              //.txtmore(3);
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp:3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              //overflow: hidden;
              .sYellow{
                color: #ffda24;
              }
            }
          }
          .handle{
            padding: .1rem .15rem 0 .15rem;
            li{
              float: left;
            }
            .relay{
              .rb{
                margin-right: .02rem;
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_02.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            .discuss{
              margin-left: .9rem;
              .rb{
                margin-right: .02rem;
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_03.png") no-repeat;
                background-size: 100% 100%;
              }
            }
            .giveGood{
              float: right;
              .rb{
                margin-right: .02rem;
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_01.png") no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }
      }
    }
    /*案例排版结束*/
    /*内容放大开始*/
    .bigContent{
      display: none;
      background: #013879;
      position: absolute;
      width: 100%;
      left: 0;
      top: .96rem;
      width: 100%;
      margin-top: .04rem;
      height: 6.7rem;
      color: #ffffff;
      ul{
        li{
          width: 100%;
          height: 100%;
          display: none;
          &.liShow{
            display: block;
          }
        }
      }
      .bH1{
        margin-top: .3rem;
        text-align: center;
        font-size: .36rem;
      }
      .lCon{
        padding: 0 5%;
        margin-top: .2rem;
        display: flex;
        .cLeft{
          width: 58%;
          /*width: 68%;*/
          /*float: left;*/
          flex: 1;
          .lWen{
            margin-top: .9rem;
            padding: 0 .4rem 0 .1rem;
            font-size: .24rem;
            text-indent: 30px;
            .txtmore(10);
          }
          .lA a{
            float: right;
            margin:.3rem .4rem 0 0;
            color: #efe300;
            font-size: .18rem;
          }
        }
        .cRight{
          width: 42%;
          /*width: 32%;*/
          /*float: right;*/
          .imgWrap{
            width: 5.8rem;
            height: 4.9rem;
            padding: .2rem;
            background: rgba(255,255,255,0.2);
            overflow: hidden;
            img{
              /* width: 5.38rem; */
              width: 100%;
            }
          }
        }
      }
      /* 图片+标题开始 */
      .imgTit .cRight{
        margin: 0 auto;
        position: relative;
        .lA a{
          position: absolute;
          right: -1.5rem;
          bottom: .1rem;
          color: #efe300;
          font-size: .18rem;
        }
      }
      /* 图片+标题结束 */
      .moveLeft{
        position: absolute;
        left: .2rem;
        top: 50%;
        margin-top: -0.9rem;
        display: block;
        width: .48rem;
        height: 1.4rem;
        border-radius: 4px;
        background:#27568d url("../images/fangda_left.png") no-repeat center;
      }
      .moveRight{
        position: absolute;
        right: .2rem;
        top: 50%;
        margin-top: -0.9rem;
        display: block;
        width: .48rem;
        height: 1.4rem;
        border-radius: 4px;
        background:#27568d url("../images/fangda_right.png") no-repeat center;
      }
      .bigClose{
        position: absolute;
        top: -.9rem;
        right: .08rem;
        font-size: .24rem;
      }
    }
    /*内容放大结束*/
  }
  /*右边重点报道开始*/
  .nRight{
    position: relative;
    float: right;
    margin-right: 1%;
    width: 23%;
    .top{
      position: absolute;
      z-index: 1000;
      left: 0;
      top: -.21rem;
      text-outline:0;
      height: .32rem;
      width: 100%;
      .tit{
        float: left;
        width: 1.3rem;
        height: 0.21rem;
        text-indent: 6px;
        background: url("../images/index-zhongdian.png") no-repeat;
        background-size: 100% 100%;
        font-size: .14rem;
        color: #010101;
      }
    }
    .keyNote{
      width: 100%;
      height: 7.42rem;
      margin-top: .13rem;
      background: rgba(0,29,68,0.5);
      /*图文排版开始*/
      .describeWrap{
        height: 7.42rem;
        padding: 0 .1rem;
      }
      .descriptBox{
        height: 7.42rem;
        padding: 0 .25rem;
        padding-bottom: .25rem;
        .boxIn{
          width: 100%;
        }
        .bTit{
          margin-top: .35rem;
          text-align: center;
          font-size: .2rem;
          color: white;
        }
        .bLabel{
          margin-top: .18rem;
          border-bottom: 1px solid #ffffff;
          .wenzi{
            float: left;
            font-size: .12rem;
            color: #ffffff;
            .span1{
              margin-right: .2rem;
            }
          }
          .tubiao{
            float: right;
            padding-bottom: .12rem;
            i{
              display: inline-block;
              margin-right: .1rem;
              cursor: pointer;
            }
            .tYellow{
              color: #fc8c40;
            }
            .tGreenBlue{
              color: #2e9809;
            }
            .tGreen{
              color: #43b498;
            }
            .tLightYellow{
              color: #95c136;
            }
            .tRed{
              color: #e44527;
            }
            .tBlue{
              color: #5f96b7;
            }
          }
        }
        .bCont{
          font-size: .16rem;
          color: #ffffff;
          .bImg{
            margin-top: .22rem;
            /*width: 3.9rem;*/
            width: 100%;
            img{
              width: 100%;
              display: block;
              margin:0 auto;
            }
          }
          p{
            margin-top: .22rem;
            line-height: .24rem;
            text-indent: 20px;
          }
        }
      }
      /*图文排版结束*/
      /*微博排版开始*/
      .blogWrap{
        background: rgba(21,49,88,0.5);
        .bHead{
          margin-top: .15rem;
          padding: 0 .12rem;
          .hPic{
            display: inline-block;
            vertical-align: top;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            overflow: hidden;
            img{
              width: 100%;
            }
          }
          .hDes{
            margin-left: .12rem;
            display: inline-block;
            vertical-align: top;
            width: 4.05rem;
            .tP{
              width: 2.2rem;
              font-size: .18rem;
              color: #ffffff;
              float: left;
              .txt();
            }
            .tTubiao{
              float: right;
              //width: 1.5rem;
              .txt();
              i{
                display: inline-block;
                margin-left: .1rem;
                font-size: .16rem;
              }
              .tYellow{
                color: #fc8c40;
              }
              .tGreenBlue{
                color: #2e9809;
              }
              .tGreen{
                color: #43b498;
              }
              .tLightYellow{
                color: #95c136;
              }
              .tRed{
                color: #e44527;
              }

            }
            .dMiao{
              margin-top: .08rem;
              font-size: .14rem;
              color: #ffffff;
            }
            .dXiang{
              margin-top: .06rem;
              margin-bottom: .08rem;
              line-height: .24rem;
              font-size: .16rem;
              color: #ffffff;
              .xYellow{
                color: #ffda24;
              }
            }
          }
        }
        .bWho{
          width: 100%;
          padding: 0 .2rem 0 .75rem;
          border-bottom: 1px solid rgba(255,255,255,0.2);
          background: rgba(255,255,255,0.2);
          color: #ffffff;
          .p1{
            font-size: .18rem;
            margin:.12rem 0 .06rem 0;
          }
          .p2{
            font-size: .16rem;
            line-height: .26rem;
          }
          .bPic{
            width: 3.9rem;
            height: 1.35rem;
            margin-top: .1rem;
            padding-top: .08rem;
            background: rgba(255,255,255,0.3);
            img{
              float: left;
              margin-left: .08rem;
              border: none;
              width: 1.2rem;
              height: 1.2rem;
            }
          }
          .bControl{
            margin: .18rem 0;
            font-size: .14rem;
            .cToday{
              //width: 1rem;
              float: left;
            }
            .cHandle{
              float: right;
              padding-right: .1rem;
              a{
                float: right;
                margin-left: .3rem;
              }
              .relay .rb{
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_02.png") no-repeat;
                background-size: 100% 100%;
                margin-right: .02rem;
              }
              .discuss .rb{
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_03.png") no-repeat;
                background-size: 100% 100%;
                margin-right: .02rem;
              }
              .giveGood .rb{
                display: inline-block;
                vertical-align: middle;
                width: .11rem;
                height: .11rem;
                background: url("../images/zf_01.png") no-repeat;
                background-size: 100% 100%;
                margin-right: .02rem;
              }
            }
          }
        }
        /*视频开始*/
        .bVideo{
          width: 100%;
          padding: .18rem 0 .12rem .1rem;
          border-bottom: 1px solid rgba(255,255,255,0.1);
          background: rgba(255,255,255,0.1);
          color: #ffffff;
          .media{
            width: 4.8rem;
            background: black;
          }
        }
        /*视频结束*/
        .bBigControl{
          padding:.12rem .3rem .35rem .3rem;
          font-size: .14rem;
          .relay{
            float: left;
            .rb{
              display: inline-block;
              vertical-align: middle;
              width: .11rem;
              height: .11rem;
              background: url("../images/zf_02.png") no-repeat;
              background-size: 100% 100%;
              margin-right: .02rem;
            }
          }
          .discuss{
            float: left;
            margin-left: 1.6rem;
            .rb{
              display: inline-block;
              vertical-align: middle;
              width: .11rem;
              height: .11rem;
              background: url("../images/zf_03.png") no-repeat;
              background-size: 100% 100%;
              margin-right: .02rem;
            }
          }
          .giveGood{
            float: right;
            .rb{
              display: inline-block;
              vertical-align: middle;
              width: .11rem;
              height: .11rem;
              background: url("../images/zf_01.png") no-repeat;
              background-size: 100% 100%;
              margin-right: .02rem;
            }
          }
        }
      }
      /*微博排版结束*/
    }
  }
}
/* 曲线开始 */
.curveWrap{
  width: 100%;
  height: 800px;
  position: absolute;
  top: 2.3rem;
  z-index: -2;
}
#curve{
  position: absolute;
  left: 0;
  top: 0;
  height: 500px;
}
/* 曲线结束 */

