@charset "utf-8";
@import "./base/base.less";
@import "./base/conn.less";

/* 报道详情 start */
.wrap-top{
    position: relative;
    height: .35rem;
    padding-right: .1rem;
    margin-top: -.35rem;
}
.arows-up{
    display: inline-block;
    width: .22rem;
    height: .22rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: bottom;
    margin-left: .15rem;
    cursor: pointer;
    background: #fff;
    color: #806b32;
}
.report-details{
    width: 100%;
    height: 9rem;
    background: #013879;
}
.report-de-top{
    height: .9rem;
    padding: .1rem;
    background: rgba(255, 255, 255, .1);
    p{
        display: inline-block;
        padding: .1rem .25rem;
        font-size: .18rem;
    }
    .arows-up{
        i{
            color: #22528a;
        }
    }
}
.report-de-main{
    padding: .35rem .2rem;
}
.report-main-title{
    height: .9rem;
    margin: 0 1rem;
    text-align: center;
    border-bottom: 1px solid #315d92;
    h3{
        font-size: .38rem;
    }
    .title-bottom{
        width: 30%;
        margin: 0 auto;
        padding: .15rem .25rem;
        p{
            margin-right: .7rem;
            span{
                margin-right: .2rem;
            }
        }
    }
}
.title-icon-list{
    li{
        float: left;
        margin-right: .1rem;
        text-align: center;
        i{
            display: inline-block;
            height: .2rem;
            width: .2rem;
            vertical-align: bottom;
        }
        .t-n1{
            background: url(../images/g_n1.png) no-repeat;
        }
        .t-n2{
            background: url(../images/g_n2.png) no-repeat;
        }
        .t-n3{
            background: url(../images/g_n3.png) no-repeat;
        }
        .t-n4{
            background: url(../images/g_n4.png) no-repeat;
        }
        .t-n5{
            background: url(../images/g_n5.png) no-repeat;
        }
     }
}
.report-main-con{
    height: 7rem;
    padding: 0 1rem;
    .con-txt{
        padding: .2rem 0 .35rem;
        p{
            text-indent: 30px;
            line-height: .3rem;
        }
    }
    .main-msg{
        height: 1.6rem;
        overflow: hidden;
        li{
            float: left;
            width: 2.6rem;
            height: 1.6rem;
            &+li{
                margin-left: .3rem;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }

    }
}

/* 报道详情 end */
