<%- include('../templates/head') %>
<body>
    <!--头部开始-->
    <%- include('../templates/header') %>
    <!--头部结束-->
    <!--新闻专题开始-->
    <div class="newSubject">
        <div class="nLeft">
            <div class="edit"><a href="javascript:;">编辑专题</a></div>
            <div class="labelBox">
                <div class="lTextarea">
                    <textarea disabled>微信公号”和菜头“转发了疑似推手微信公号”国际网“的文章”叙利亚问题的解决之道“，获得了10万+的阅读，对事件造成了比较大的推动作用（最好是可以列出数据做支撑）</textarea>
                </div>
                <div class="lEdit">
                    <a href="javascript:;">编辑标注</a>
                </div>
            </div>
        </div>
        <div class="nRight"></div>
    </div>
    <!--新闻专题结束-->
    <%- include('../templates/foot') %>

</body>
</html>