<%- include('../templates/head') %>
<body>
    <%- include('../templates/header') %>

    <section class="contain">
        <div class="wrap-con">
            <div class="warp-top pull-right">
                <a href="javascript:;" class="a-btn">编辑专题</a>
                <span class="arows-up">
                    <i class="fa fa-angle-up"></i>
                </span>
            </div>
            <div class="report-details">

            </div>
        </div>
    </section>

    <%- include('../templates/foot') %>
</body>
</html>
