<%- include('../templates/head') %>
<body>
    <%- include('../templates/header') %>

    <section class="contain">
        <div class="wrap-con">
            <div class="wrap-top pull-right">
                <a href="javascript:;" class="a-btn">编辑专题</a>
                <span class="arows-up">
                    <i class="fa fa-angle-up"></i>
                </span>
            </div>
            <div class="report-details">
                <div class="report-de-top">
                    <p>微信公号"和菜头"转发了疑似推手微信公号“国际网”的文章“叙利亚问题的解决之道”，获得了10万+的阅读，对事件造成了比较大的推动作用（最好是可以列出数据做支撑）</p>
                    <span class="arows-up pull-right" onclick="window.history.go(-1)">
                        <i>x</i>
                    </span>
                </div>
                <div class="report-de-main">
                    <div class="report-main-title">
                        <h3>新华国际时评：叙利亚问题的解决之道</h3>
                        <div class="title-bottom">
                            <p class="pull-left">
                                <span>新华网</span>
                                <span>2012-02-17 14:56</span>
                            </p>
                            <ul class="title-icon-list clearfix">
                                <li>
                                    <i class="t-n1"></i>
                                </li>
                                <li>
                                    <i class="t-n2"></i>
                                </li>
                                <li>
                                    <i class="t-n3"></i>
                                </li>
                                <li>
                                    <i class="t-n4"></i>
                                </li>
                                <li>
                                    <i class="t-n5"></i>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="report-main-con sUl">
                        <div class="con-txt">
                            <p>新华网北京２月１７日电（记者夏文辉　辛俭强）联合国大会１６日通过一项有关叙利亚问题的决议，但在一些关键问题上，
                            </p>
                            <p>国际社会在原则立场上还存有分歧。
                            众所周知，《联合国宪章》是国际关系的指导准则。《联合国宪章》明确提出，应力行容恕，以和平方法解决国际争端。因此，在通过联合国机制解决叙利亚危机方面，任何有倾向性的条款，都可能有违和平努力，加剧叙利亚危机，并殃及地区安全稳定。因此，在通过联合国机制解决叙利亚危机方面，任何有倾向性的条款，都可能有违和平努力，加剧叙利亚危机，并殃及地区安全稳定。</p>
                            <p>在国际关系中不得使用威胁或武力，或以与联合国宗旨不符的任何其他方法，侵害任何会员国的领土完整或政治独立，是《联合国宪章》的重要内容。然而，对叙利亚实施武力干预的威胁或强行推动所谓“政权更迭”的做法和倾向，是“新干涉主义”的表现，与《联合国宪章》倡导的原则明显不符，其结果只会事与愿违，令事态朝着人们不愿看到的方向发展。</p>
                            <p>此前在安理会被否决的叙利亚问题决议草案，以及这次在联合国大会上表决的决议，在如何保持客观平衡方面，还存在明显争议，也未能采纳有关方面的合理关切。在对决议草案仍存在严重分歧的情况下，拒绝进一步磋商和协调，推动表决决议，将会对联合国的团结和权威造成损害，也无助于叙利亚危机的妥善解决。</p>
                            <p>此前在安理会被否决的叙利亚问题决议草案，以及这次在联合国大会上表决的决议，在如何保持客观平衡方面，还存在明显争议，也未能采纳有关方面的合理关切。在对决议草案仍存在严重分歧的情况下，拒绝进一步磋商和协调，推动表决决议，将会对联合国的团结和权威造成损害，也无助于叙利亚危机的妥善解决。</p>
                            <p>此前在安理会被否决的叙利亚问题决议草案，以及这次在联合国大会上表决的决议，在如何保持客观平衡方面，还存在明显争议，也未能采纳有关方面的合理关切。在对决议草案仍存在严重分歧的情况下，拒绝进一步磋商和协调，推动表决决议，将会对联合国的团结和权威造成损害，也无助于叙利亚危机的妥善解决。</p>
                            <p>此前在安理会被否决的叙利亚问题决议草案，以及这次在联合国大会上表决的决议，在如何保持客观平衡方面，还存在明显争议，也未能采纳有关方面的合理关切。在对决议草案仍存在严重分歧的情况下，拒绝进一步磋商和协调，推动表决决议，将会对联合国的团结和权威造成损害，也无助于叙利亚危机的妥善解决。</p>
                            <p>此前在安理会被否决的叙利亚问题决议草案，以及这次在联合国大会上表决的决议，在如何保持客观平衡方面，还存在明显争议，也未能采纳有关方面的合理关切。在对决议草案仍存在严重分歧的情况下，拒绝进一步磋商和协调，推动表决决议，将会对联合国的团结和权威造成损害，也无助于叙利亚危机的妥善解决。</p>
                        </div>

                        <ul class="main-msg clearfix">
                            <li><img src="../images/main_msg.png" alt=""></li>
                            <li><img src="../images/main_msg.png" alt=""></li>
                            <li><img src="../images/main_msg.png" alt=""></li>
                            <li><img src="../images/main_msg.png" alt=""></li>
                            <li><img src="../images/main_msg.png" alt=""></li>
                            <li><img src="../images/main_msg.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../templates/foot') %>
</body>
</html>
