<!--尾部开始-->
<div class="footer">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">12 : 01</span>
                        <span class="time2">2018年2月15日</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活动为叙利亚平民祈福</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--尾部结束-->