<!--尾部开始-->
<div class="footer">
    <!--标杆开始-->
    <div class="gan"></div>
    <!--标杆结束-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="haveCon sBlue"><i class="bTime"></i><span class="span">微博发起微博发起微博发起微博发起起微博</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">12 : 01</span>
                        <span class="time2">2018年2月15日</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <!--<li class="addNew"><i class="fa fa-plus-circle jia"></i>新增报道</li>-->
                        <li class="haveCon sRed"><i class="bFire"></i><span class="span">微博发起活</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起活</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperIn clearfix">
                    <ul>
                        <li class="holpPlace"></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                        <li class="haveCon"><i class="fa fa-star xing"></i><span class="span">微博发起</span></li>
                    </ul>
                    <div class="setTime">
                        <span class="time1">09 : 01</span>
                        <span class="time2"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--尾部结束-->