<div class="header">
    <div class="select">
        <div class="sShow">
            <span class="tit">新闻线：叙利亚动乱全纪录叙利亚动乱全纪录叙利亚动乱全纪录</span>
            <span class="fa fa-caret-down san"></span>
        </div>
        <div class="sHide">
            <ul class="sUl">
                <li>新闻线：叙利亚动乱全记录</li>
                <li>向交警推销化妆品</li>
                <li>唐山发生酒驾事故</li>
                <li>偶遇太阳闵孝琳</li>
                <li>偶遇太阳闵孝琳</li>
                <li>偶遇太阳闵孝琳</li>
                <li>偶遇太阳闵孝琳</li>
            </ul>
        </div>
    </div>
    <div class="describe">
        <span class="leftImg"></span>
        <p class="dP">011－2012年叙利亚动乱，是从2011年1月26日初步开始、后于3月15日全面爆发并持续至今的发生在叙利亚的示威抗议，最后演变成旨在推翻巴沙尔·阿萨德政府的武力抗争战斗，为阿拉伯之春的一部分。宪法权利的缺失</p>
        <span class="rightImg"></span>
    </div>
    <div class="caseConfig">
        <a href="javascript:;"><i class="fa fa-cog config" ></i>专题配置</a>
    </div>
</div>